<table class="table table-striped">
<thead>
  <tr>
    <th>Thumbnail</th>
    <th>Name</th>
    <th>Description</th>
    <th>Country</th>
    <th>Players</th>
    <th>Status</th>
  </tr>
</thead>
  <tbody>
  <tr id="{{server.status}}" *ngFor="let server of servers">
    <td class="thumbnail"><img src="{{server.thumbnail}}"></td>
    <td>{{server.name}}</td>
    <td>{{server.description}}</td>
    <td>{{server.country}}</td>
    <td>{{server.players}} / {{server.maxPlayers}}</td>
    <td>{{server.status}}</td>
  </tr>
  </tbody>
</table>
